.App {
  font-family: sans-serif;
  text-align: center;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.flexbox {
  display: flex;
  padding: 20px;
}

.user-info {
  display: center;
}

.name {
  display: center;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}

.bio {
  display: center;
  margin: 0px;
}
